# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

node_modules
src/lib
src/test/coverage
src/service_account_key.json
src/secrets.py
dist
dist-oss
env


# C extensions
*.so
*.swp
*~

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# GAE
*.datastore
*.datastore.*

# MAC OSX
.DS_Store

# Eclipse
.project
.pydevproject
.settings

# Netbeans
nbproject

# SVN
.svn*

# Idea
.idea/workspace.xml
.idea/tasks.xml

# vscode
.vscode/
